.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    text-decoration: none;
}

.product-item {
    text-align: center;
    width: calc(33.333% - 40px); /* Adjust for gap and padding */
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-decoration: none;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.add-to-cart {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #218838;
}

.productImage {
    height: 250px;
    width: 150px;
}

.btn-close {
    background-color: transparent;
}

.offcanvas-body .maindiv {
    display: flex;
    justify-content: space-between;
}

.offcanvas-body .imageDiv,
.offcanvas-body .productDetailsdiv {
    flex: 1;
}

.btnsDiv .checkoutBtn,
.btnsDiv .continueShopBtn {
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    padding: 6px;
    width: 250px;
}

.checkoutBtn {
    background-color: black;
    color: white;
}

.continueShopBtn {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.productName{
    text-decoration: none;
}

.product-link{
    text-decoration: none;
}