.productContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
}

.imageDiv {
    flex: 1;
}

.productImage {
    width: 300px;
    height: 300px;
    margin-left: 250px
}



.productDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.productDetails h2 {
    margin-top: 0;
    font-size: 2em;
}

.productDetails small {
    font-size: 1em;
    color: #777;
}

.quantityBox {
    margin: 10px 0;
}

.quantityBox label {
    margin-right: 10px;
}

.addToCartButton {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    height: auto;
}

.addToCartButton:hover {
    background-color: #8caa93;
}

.socialMediaIcons {
    margin: 20px 0;
    padding-right: 80 px;
    
}


.productDetails h3 {
    margin-top: 20px;
}

.productDetails p {
    font-size: 1em;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
    width: 400px;
}

