.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#div1 {
    width: 100%;
    background-color: rgb(152, 90, 45);
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#companyName {
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

#tagline {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    margin-left: 45px;
    margin-top: 150px;
}



#div1Image {
    height: 100%;
    width: 350px;
    position: relative;
    right: 0;
}



.shopNowDiv a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: rgb(132, 45, 8);
    border: 2px solid white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-left: 105px;
}

.shopNowDiv a:hover {
    background-color: white;
    color: rgb(156, 88, 40);
}

#taglinediv{
    margin-left: 90px;
}

#div2 {
    width: 100%;
    background-color: rgb(238, 223, 195);
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#brandStorydiv {
    display: flex;
    flex-direction: column;

    margin-right: 250px;
    margin-top: 150px;
}

#div2Image {
    height: 100%;
    width: 350px;
    position: relative;
    left: 0;
}

#brandStoryheading {
    color: brown;
    position: relative;
    right: 0;
    
}

#brandStoryPara {
    color: brown;
    position: relative;
    right: 0;
}

/* Styling for section 3 and 4 */

#div3 {
    padding: 20px;
    text-align: center;
    background-color: rgb(152, 90, 45);
}

#organicSelectionHeading {
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
    text-align: left;
    margin-left: 100px;
    position: relative;
    left: 0;
}

.organicProducts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    width: 20%;
    margin: 10px;
    text-align: center;
    opacity: 0; /* P008d */
    transition: opacity 2s; /* P008d */
}

.productImage {
    width: 80%;
    height: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.productTitle {
    font-size: 1.5em;
    margin: 10px 0;
    color:white ;
    text-align: center;
    opacity: 1; /* Pa6a7 */
    transition: opacity 2s; /* Pa6a7 */
}

.productDescription {
    font-size: 0.8em;
    color:white ;
    opacity: 1; /* Pa6a7 */
    transition: opacity 2s; /* Pa6a7 */
}

/* Styling for div4 */
#div4 {
    padding: 20px;
    background-color: rgb(238, 223, 195);
    text-align: center;
    color :rgb(132, 45, 8);
    position: relative;
    bottom: 0; /* Pcfe7 */
    transition: bottom 2s; /* Pcfe7 */
}

#taglinediv2 {
    margin-bottom: 20px;
    text-align: left;
}

    

#tagline2 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#getInTouchHeading {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 240px;
    position:relative;
    left:0;
    opacity: 1; /* Pefa5 */
    transition: opacity 2s; /* Pefa5 */
}

#contactSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position:relative;
    right:0;
    opacity: 1; /* Pefa5 */
    transition: opacity 2s; /* Pefa5 */
}

#contactImageDiv {
    flex: 1 1 300px;
    text-align: center;
    
}

#contactImage {
    max-width: 350px;
    height: 300px;

}

#contactDetails {
    flex: 1 1 300px;
    text-align: left;
}

#contactDetails p {
    font-size: 18px;
    margin: 10px 0;
}




/* Responsive styling */
@media (max-width: 768px) {
    #contactSection {
        flex-direction: column;
    }

    #contactDetails {
        text-align: center;
    }
}


