<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Table</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }

        .orderDetailsHeading{
            align-self: center;
        }
    </style>
</head>
<body>

<h2 class="orderDetailsHeading">Order Details</h2>

<h4>Status: <h6>Order placed</h6></h4>

<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Grand Total</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <?php
       
        while ($row = $result->fetch_assoc()) {
            echo "<tr>";
            echo "<td>" . $row['cust_id'] . "</td>";
            echo "<td>" . $row['grandTotal'] . "</td>";
            echo "<td>" . $row['dateTime'] . "</td>";
            echo "</tr>";
        }
        ?>
    </tbody>
</table>



</body>
</html>
