
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/categoryListing.css"> <!-- Link to your custom CSS file -->
    <title>Product Grid</title>
</head>
<div id="navbar"></div>"
<body>
    
    <div class="product-grid">

                    <div class="product-item">
                    <img class="productImage" src="" alt="Product Image">
                    <h3>Hydrating Face Mist</h3>
                    <p>$ 100</p>
                    <button class="add-to-cart"alt="Add to Cart">Add to Cart</button>
                    </div>

                    <div class="product-item">
                        <img class="productImage" src="" alt="Product Image">
                        <h3>Hydrating Face Mist</h3>
                        <p>$ 200</p>
                        <button class="add-to-cart">Add to Cart</button>
                        </div>

                        <div class="product-item">
                            <img class="productImage" src="" alt="Product Image">
                            <h3>Hydrating Face Mist</h3>
                            <p>$ 300</p>
                            <button class="add-to-cart">Add to Cart</button>
                            </div>
                    
    </div>
</body>

<div id="footer"></div>"



<script src="../js/LoadComponent.js"></script>

</html>
