<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/categoryListing.css"> <!-- Link to your custom CSS file -->
    <title>Product Grid</title>
</head>

<body>

    <div class="product-grid">

        <!-- Product 1 -->
        <a href="" class="product-item">
            <div>
                <img class="productImage" src="../assets/Images/BeautyCraftsSources/1.jpg">
                <h3>Hydrating Face Mist</h3>
                <p>$ 100</p>
                <!-- <a href="" class="add-to-cart"> Add to Cart</a> -->
                <button class="add-to-cart">Add to Cart</button>
            </div>
        </a>

        <!-- Product 2 -->
        <a href="" class="product-item">
        <div>
            <img class="productImage" src="../assets/Images/BeautyCraftsSources/2.jpg">
            <h3>Conatural Eye Serium</h3>
            <p>$ 200</p>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        </a>

        <!-- Product 3 -->

        <a href="" class="product-item">
        <div>
            <img class="productImage" src="../assets/Images/BeautyCraftsSources/3.jpg">
            <h3>Hydrating Face Mist</h3>
            <p>$ 300</p>
            <button class="add-to-cart">Add to Cart</button>
        </div>
    </a>

        <!-- Product 4 -->
        <a href="" class="product-item">
        <div>
            <img class="productImage" src="../assets/Images/BeautyCraftsSources/4.webp">
            <h3>Conatural Eye Serium</h3>
            <p>$ 400</p>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        </a>

        <!-- Product 5 -->
        <a href="" class="product-item">
        <div>
            <img class="productImage" src="../assets/Images/BeautyCraftsSources/5.webp">
            <h3>Vegan Leather Bag</h3>
            <p>$ 500</p>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        </a>

        <!-- Product 6 -->

        <a href="" class="product-item">
        <div>
            <img class="productImage" src="../assets/Images/BeautyCraftsSources/6.webp">
            <h3>Conatural Eye Serium</h3>
            <p>$ 600</p>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        </a>

    </div>
</body>

</html>