<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/checkout.css">
    <title>checkout</title>
</head>
<body>
<div class="badadiv">
    <div class="subdiv-1">
        <h3 class="checkoutHeading"> Place Order </h3>
        <p class="checkoutdesc">
            Please varify your details and place your order by clicking button here. 
        </p>

        <a class="placeOrderBtn">Place Order</a>
    

    </div>
    <div class="subdiv-2">
        <div class="div-1">
            <img src="../assets/Images/BeautyCraftsSources/4.webp" alt="Conatural Eye Serum" class="img">

            <h3 class="name">Conatural Eye Serum</h3>
            <p class="price"> $40.00</p>

        </div>
        <hr>
        <div class="div-2">
            <div class="title">
            <div class="subtotal">SubTotal</div>
            <div class="shipping">Shipping</div>
            <div class="Taxes">Taxes</div>
        </div>
        <div class="price-2">
            <div class="subtotal-price">$40.00</div>
            <div class="shipping-price">$0.00</div>
            <div class="Taxes-price">$0.00</div>
        </div>
        </div>
        <hr>

        <div class="div-3">
            <div class="box">
                <input type="text" placeholder="code" class="box-1">
            </div>  
            <div class="code-btn">
                <button class="code-Btn">Apply</button>
            </div>
        </div>
    </div>
  <hr>
    

</div>

    
</body>
</html>