<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Example</title>
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/index.html">Home</a></li>
            <li><a href="./categoryListing.html">Shop</a></li>
            <li><a href="./About.html">About</a></li>
            <li><a href="#">Connect</a></li>
            <li><a href="#" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop"><i class="cart-icon">🛒</i></a></li>
        </ul>
        <span id="cart-counter">0</span>
    </nav>

    <script src="../js/cartCounter.js"></script>
</body>

</html>
