<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Product.css">
    <title>Document</title>

    <div id="navbar"></div>
</head>
    <body>
        <div class="productContainer">
            <div class="imageDiv">
                <img src="../assets/Images/BeautyCraftsSources/4.webp" alt="Conatural Eye Serum" class="productImage">
            </div>
            <div class="productDetails">
                <h2>Conatural Eye Serum</h2>
                <small>$40.00</small>
                <div class="quantityBox">
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" value="1" min="1">
                </div>
                <button class="addToCartButton">Add to Cart</button>
                <div class="socialMediaIcons">
                    <a href="#"><img src="assets/Icons/facebook.png" alt="Facebook" class="socialIcon"></a>
                    <a href="#"><img src="assets/Icons/twitter.png" alt="Twitter" class="socialIcon"></a>
                    <a href="#"><img src="assets/Icons/instagram.png" alt="Instagram" class="socialIcon"></a>
                </div>
                <h3>Description</h3>
                <p>Conatural Eye Serum is a luxurious blend of organic ingredients designed to nourish and rejuvenate the delicate skin around your eyes. With regular use, you'll notice a reduction in fine lines and a brighter, more youthful appearance.</p>
            </div>
        </div>
    
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="js/myjquery.js"></script>
    </body>

    <div id="footer"></div>

    


<script src="../js/LoadComponent.js"></script>

</html>

